/*
	VŠECHNY PROMĚNNÉ POUŽITÉ NA WEBU
*/


	// BARVY

	$color-font: #2B2118;   // POUŽITÍ NA FONTECH WEBU
	$color-light:#ECF0F1;	// POUŽÍTÍ JAKO POZADÍ, PŘÍPADNĚ NA FONTECH NA TMAVEM BG
	$color-action:#E11C1C;	// POUŽITÍ NA CALL TO ACTION PRVKY
	$color-main:#0D457A;	// HLAVNÍ MODRÁ LAYOT, BORDERY APOD.
	$color-sec:#214599;		// HLAVNÍ MODRÁ BARVA NA NADPISI, BORDERY APOD

	// FONTY

	$font-main: 'PT Sans', sans-serif;  // použité na všechny texty viz fonts.scss
	$font-comp: 'Raleway', sans-serif;	// použité na nadpisy a dopňkové texty
