.btn {
	font-family: $font-comp;
	padding: 1.25rem;
	border:0;
	border-radius: 10px;
	cursor: pointer;
}

.btn-primary {
	background: $color-sec;
	border: 2px solid #F0B823;
	&:hover {
		background: #F0B823;
		transition: all 0.3s ease-in;
	}
}

//<i class="fas fa-share"></i>