/*
	STYLY PRO NAVIGACI
*/

.logo {
	margin-right: 6rem;
}

.nav {
	font-size: 0.9rem;
	list-style: none;
	text-transform: uppercase;
	margin-left: auto;
	padding-bottom: 2rem;
	padding-top: 2rem;
	padding-left: 0;
	background: $color-main;
	margin-bottom: 0;
}

.nav__item {
	color: $color-font;
	font-family: $font-comp;
	display: inline-block;
	font-weight: bold;
	margin-left: 1rem;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-bottom: 3px solid transparent; // ZAJISTI ZE HOVER BORDER NEODSUNUJE DALSI OBSAH
    &:hover {
    	border-bottom: 3px solid #F0B823;
    	transition: all 0.3s ease-in;
    	color: lighten($color-font, 60%);
    }
}
.active {
	  	border-bottom: 3px solid #F0B823;
    	transition: all 0.3s ease-in;
    	color: lighten($color-font, 60%);
 }

@media only screen and (min-width: 1039px) {
	.nav {
		font-size: 1rem;
	}
}
@media only screen and (max-width: 850px) {
	.logo {margin-right: 2rem}
	.nav__item {
		margin-left: 0.25rem;
		font-size: 0.8rem;
	}


}

@media only screen and (max-width: 480px) {
		/*.header_inner {
		flex-direction:column;
		text-align: center;
		}
		*/
		.nav__item {
			margin-left: 0px;
			margin-bottom: 0.15rem;
		}


}